html{
    font-family: 'Gill Sans', 'Gill Sans MT';
    background-size: auto;
    background-repeat: repeat-x;
    background-color: black;
}

h1{
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(6, 211, 6);
    font-family: 'Lobster';
    background-position: 0 100%;
}

img{
    width: 70%;
}

.ltext{
    font-size: x-large;
    font-weight: bolder;
    color: crimson;
}

.text1{
    color: white;
    font-size: larger;
    font-weight: lighter;
    font-style: normal;
}

.utext{
    color: cyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: initial;
    background-color: navy;
}

button{
    background-color: black;
    color: aqua;
    font-size: x-large;
    padding: 5px 10px;
    min-width: 20%;
    max-width: 20%;
    cursor: pointer;
}

button:hover{
    background-color: rgb(31, 30, 30);
    box-shadow: 3mm grey;
    cursor: grab;
}

button:focus{
    background-color: red;
    box-shadow: 0 0 0 4px #cbd6ee;
}

h2{
    color: cyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: initial;
    background-color: navy;
}

a{
    color: chartreuse;
    text-decoration: underline red dotted;
}

.invisible{
    color: black;
    background-color: black;
    font-size: xx-small;
    background-position: 5%;
    background-size: cover;
    text-decoration: none;
}