
@font-face {
    font-family: 'XannMono';
    src: url(fonts/XanhMono-Italic.ttf), url(fonts/XanhMono-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'PoorStory';
    src: url(fonts/PoorStory-Regular.ttf);
}

button{
    cursor: grab;
}

html{
    font-family: 'Gill Sans', 'Gill Sans MT';
    background-size: auto;
    background-repeat: repeat-x;
    background-color: black;
    padding: 0px;
    margin: 0%;
}

body{
    margin: 0%;
    padding: 0%;
}

h1{
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(217, 217, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Lobster';
    background-position: 0 100%;
    padding: 0%;
    margin-top: 0%;
}

h1 button{
    height: 100%;
    width: 13%;
    background-color: aqua;
    color: black;
    border: 3px solid #D50000;
    border-radius: 5px 17px 17px 0px;
    font-family: "PoorStory";
}

h1 button:hover{
    color:gray;
    background-color: blue;
}

label{
    display: table;
    margin: 0 auto;
    color:aliceblue;
    font-size: 550%;
    font-family: "XannMono";
}

.Main{
    position: absolute;
    font-family: "PoorStory";
    margin-left: 2%;
    width: 94%;
    background-color: bisque;
    color: black;
    border: 2px solid rgb(40, 40, 40);
    border-radius: 5px 5px 5px 5px;
}

.ButtonA{
    background-color: none;
    border-radius: 0%;
    border: 0 black;
    background-color: bisque;
}

.ToProj{
    position: absolute;
    height: 3%;
    width: 5%;
    font-size: small;
    background-color: beige;
    color: black;
    left: 15px;
    top: 95%
}